<footer>
    <div class="footer">
    <div class="center">
        <img src="../img/logo_bottom.gif" class="seoul-logo2">
        <ul class="seoul-info">
            <li class="seoul-deco">개인정보 취급방침</li>
            <li class="seoul-deco">이메일주소 무단수집거부</li>
            <li>서울시 종로구 부암동 201번지</li>
            <li>TEL. 02-395-0100 FAX. 02-395-0170</li>
        </ul>
        <img src="../img/top_move.gif" class="seoul-move">
        <div class="seoul-copyright">
            Copyright © 2017 www.seoulmuseum.org All rights reserved.
            <span class="seoul-footer-btn">관리자 LOGIN</span>
        </div>
    </div>
    </div>
</footer>
