<header>
    <div class="menu">
        <div class="center">
            <ul class="seoul-menu">
                <li>SITEMAP</li>
                <li>CONTACT US</li>
                <li>
                    <img src="./img/sns_01.png">
                </li>
                <li>
                    <img src="./img/sns_02.png">
                </li>
                <li>
                    <img src="./img/sns_03.png">
                </li>
                <li>
                    <img src="./img/sns_04.png">
                </li>
            </ul>
        </div>
    </div>
    <div class="menu2">
        <div class="center">
            <div class="seoul-logo">
                <img src="./img/logo.gif">
            </div>
            <ul class="seoul-menus">
                <li>
                    <div class="seoul-menu-text">
                        ABOUT
                    </div>
                    <ul class="seoul-sub-menu">
                        <li>인사말</li>
                        <li>미술관소개</li>
                        <li>·미술관소개</li>
                        <li>·MI소개</li>
                        <li>시설안내</li>
                        <li>·주요시설</li>
                        <li>·부대시설</li>
                    </ul>
                </li>
                <li>
                    <div class="seoul-menu-text">
                    VISIT
                    </div>
                    <ul class="seoul-sub-menu">
                        <li>관람안내</li>
                        <li>오시는길</li>
                    </ul>
                </li>
                <li>
                    <div class="seoul-menu-text">
                    EXHIBITION
                    </div>
                </li>
                <li>
                    <div class="seoul-menu-text">
                    NOTICE
                    </div>
                </li>
                <li>
                    <div class="seoul-menu-text">
                    BOARD
                    </div>
                    <ul class="seoul-sub-menu board">
                        <li>언론보도</li>
                        <li>자료실</li>
                        <li>공연 및 이벤트</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>