<header>
    <div class="seoul-menu">
        <ul>
            <li>SITEMAP</li>
            <li>CONTACT US</li>
            <li>
                <img src="./img/sns_01.png">
            </li>
            <li>
                <img src="./img/sns_02.png">
            </li>
            <li>
                <img src="./img/sns_03.png">
            </li>
            <li>
                <img src="./img/sns_04.png">
            </li>
        </ul>
    </div>
</header>