<header>
    <div class="menu">
        <div class="center">
            <ul class="seoul-menu">
                <li>SITEMAP</li>
                <li>CONTACT US</li>
                <li>
                    <img src="./img/sns_01.png">
                </li>
                <li>
                    <img src="./img/sns_02.png">
                </li>
                <li>
                    <img src="./img/sns_03.png">
                </li>
                <li>
                    <img src="./img/sns_04.png">
                </li>
            </ul>
        </div>
    </div>
    <div class="menu2">
        <div class="center">
            <div class="seoul-logo">
                <img src="./img/logo.gif">
            </div>
            <ul class="seoul-menus">

            </ul>
        </div>
    </div>
    <div class="center">
        <ul class="seoul-first">
            <li class="btn-left">
                ←
            </li>
            <li class="btn-right">
                →
            </li>
        </ul>
        <ul class="photo">
            <li class="active" style="background-image: url(../img/face1.PNG)">
            </li>
            <li style="background-image: url(../img/face2.PNG)">
            </li>
            <li style="background-image: url(../img/face3.PNG)">
            </li>
            <li style="background-image: url(../img/face4.PNG)">
            </li>
        </ul>
    </div>
</header>