<div class="manager-layer">
    <div class="center">
        <div class="manager-info">
            <div class="manager-title">
                관리자 로그인
            </div>
            <div class="manager-main">
                <div class="manager-login">
                    <ul class="manager-idpw">
                        <li>
                            <div>아이디</div>
                            <input type="text">
                        </li>
                        <li>
                            <div>비밀번호</div>
                            <input type="password">
                        </li>
                    </ul>
                    <div class="manager-find checkbox">
                        <label>
                            <input type="checkbox">
                            아이디/비밀번호 기억
                        </label>
                        <label>
                            <input type="checkbox">
                            보안로그인(SSL)
                        </label>
                    </div>
                </div>
                <div class="manager-login-btn">
                    <button class="seoul-manager-cancel">취소</button>
                    <button class="seoul-manager-login">로그인</button>
                </div>
            </div>
        </div>
    </div>
</div>