@import 'soeulmenu.less';

.exhibition-main {
  vertical-align: top;
  display: inline-block;
  width: 750px;
}

.exhibition-title {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}

.exhibition-title-title {
  font-size: 18px;
  font-weight: bold;
}

.exhibition-title-title > span {
  color: #fff;
  background-color: #0080ff;
  border: solid 1px #fff;
  font-size: 14px;
  letter-spacing: 0.01em;
  padding: 2px 5px;
}

.exhibition-title-term {
  font-size: 12px;
  line-height: 180%;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.exhibition-contents {
  text-align: center;
}

.exhibition-contents-contents > img {
  width: 580px;
  align : top;
  margin-bottom: 20px;
}

.exhibition-text1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text1-span1 {
  font-style: italic;
}

.exhibition-text1-span2 {
  font-size: 15px;
}

.exhibition-text1-span3 {
  font-size: large;
  color: #8fd80a;
}

.exhibition-text1-span4 {
  color: #8fd80a;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: -0.5px;
}

.exhibition-text1-span5 {
  color: #8fd80a;
  font-size: large;
}

.exhibition-text1-span6 {
  font-weight: normal;
  letter-spacing: 0;
}

.exhibition-text2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text2-span1 {
  color: #8fd80a;
}

.exhibition-text2-span2 {
  font-style: italic;
}

.exhibition-text2-span3 {
  font-style: italic;
}

.exhibition-text2-span4 {
  color: rgb(173, 142, 0);
}

.exhibition-text2-span5 {
  font-weight: normal;
}

.exhibition-text3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text3-span1 {
  margin-top: 20px;
  color: rgb(255, 132, 195);
}

.exhibition-text3-span2 {
  font-weight: normal;
}

.exhibition-text4 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text4-span1 {
  color: rgb(38, 144, 254);
  font-weight: bold;
  padding-right: 5px;
}

.exhibition-text4-span2 {
  font-weight: bold;
}

.exhibition-text5 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text5-span1 {
  color: rgb(140, 115, 1);
  font-weight: bold;
  padding-right: 3px;
}

.exhibition-text5-span2 {
  font-weight: bold;
}

.exhibition-text6 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: -1.2px;
  font-weight: bold;
}

.exhibition-text6-span1 {
  color: rgb(142, 138, 139);
}

.exhibition-text7 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text7-span1 {
  color: rgb(253, 18, 137);
}

.exhibition-text7-span2 {
  font-weight: normal;
}

.exhibition-text8 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: -1.2px;
}

.exhibition-text8-span1 {
  font-weight: bold;
}

.exhibition-text9 {
  padding-left: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: -1.2px;
  text-align: left;
  margin-bottom: 150px;
  line-height: 200%;
}

.exhibition-text9-span1 {
  padding-left: 60px;
  font-weight: bold;
}

.exhibition-text9-span2  {
  padding-left: 20px;
}

.exhibition-text9-span3 {
  padding-left: 60px;
}

.exhibition-text9-span4  {
  padding-left: 20px;
}

.exhibition-text9-span5 {
  font-weight: bold;
}

.exhibition-text9-span6 {
  color: rgb(255, 102, 0);
}

.exhibition-text9-span7 {
  color: rgb(204, 153, 0);
}


.exhibition-mini {
  margin-top: 50px;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 170px;
}

.exhibition-mini-title {
  display: inline-block;
  color: #fff;
  background-color: #0080ff;
  border: solid 1px #fff;
  font-size: 14px;
  letter-spacing: 0.01em;
  padding: 0 5px;
  margin-bottom: 15px;
}

.exhibition-mini-contents {
  background-color: #8fd80a;
  width: 167px;
  height: 100px;
}