@import 'common.less';


.seoul-first {
  position: relative;
  margin: 20px 0px;
  height: 400px;
}

.photo {
  position: absolute;
  margin: -420px 0px;
  width: 960px;
  height: 400px;
  background-size: cover;
}

.photo>li.active {
  position: absolute;
  display: block;
  width: 960px;
  height: 400px;
  background-size: cover;
}

.photo>li {
  display: none;
}

.seoul-first > li:first-child {
  position: absolute;
  display: inline-block;
  padding: 0 10px;
  font-size: 30px;
  color: #fff;
  right: 60px;
  bottom: 0px;
  background-color: black;
  cursor: pointer;
  z-index: 1;
}
.seoul-first > li:first-child:hover {
  background-color: red;
}

.seoul-first > li:nth-child(2) {
  position: absolute;
  padding: 0 10px;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  right: 0px;
  bottom: 0px;
  background-color: black;
  cursor: pointer;
  z-index: 1;
}

.seoul-first > li:nth-child(2):hover {
  background-color: red;
}



.seoul-notice {
  margin-top: 20px;
  float: left;
  width: 230px;
  height: 285px;
  border: 2px solid #f0f0f0;
}

.seoul-notice1 {
  height: 220px;
  font-size: 36px;
  line-height: 100%;
  font-weight: 500;
  margin: 25px 0 0 15px;
  color: #191919;
  vertical-align: bottom;
  letter-spacing: -3px;
}

.seoul-notice2 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 15px;
  color: #00A88E;
  cursor: pointer;
  letter-spacing: -1px;
}

.seoul-notice2:hover {
  color: #191919;
}

.seoul-notice-contents {
  display: inline-block;
}

.seoul-notice-contents >li {
  position: relative;
  margin: 20px 0px 0px 24px;
  display: inline-block;
  border: 2px solid #f0f0f0;
  width: 341px;
  height: 285px;
  vertical-align: top;

  .seoul-menu-img {
    position: relative;
    height: 55%;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
  }

  .seoul-menu-title {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: -1px;
    cursor: pointer;
    color: #737373;
    display: inline-block;
  }

  .seoul-menu-sub {
    line-height: 160%;
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: -2px;
    cursor: pointer;
    color: #737373;
  }

}



.seoul-exhibition-contents {
  display: inline-block;
}

.seoul-exhibition-contents >li {
  position: relative;
  margin: 20px 24px 0px 0px;
  display: inline-block;
  border: 2px solid #f0f0f0;
  width: 341px;
  height: 285px;
  vertical-align: top;


  .seoul-menu-img {
    position: relative;
    height: 55%;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
  }

  .seoul-menu-title {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: -1px;
    cursor: pointer;
    color: #333;
    display: inline-block;
  }

  .seoul-menu-title:hover {
    color: red;
  }

  .seoul-menu-sub {
    line-height: 160%;
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: -2.5px;
    cursor: pointer;
    color: #333;
  }

  .seoul-menu-sub:hover {
    color: red;
  }


  .seoul-menu-date {
    margin-top: 1px;
    margin-left: 20px;
    font-size: 12px;
    background-color: #eee;
    margin-right: 2px;
    padding: 1px 0;
    color: #737373;
  }

}


.seoul-exhibition {
  margin: 20px 0px;
  float: right;
  width: 230px;
  height: 285px;
  border: 2px solid #f0f0f0;
}

.seoul-exhibition1 {
  height: auto;
  font-size: 36px;
  font-weight: 500;
  margin: 25px 0 13px 15px;
  color: #191919;
  vertical-align: bottom;
  letter-spacing: -3px;
}

.seoul-exhibition-clock {
  display: block;
  margin-right: 90%;
  margin-bottom: 10px;
  margin-left: 15px;
  vertical-align: middle;
  border: 0;
}

.seoul-exhibition2 {
  font-size: 14px;
  margin: 0 0 5px 20px;
  letter-spacing: -2px;
  color: #737373;
  font-weight: 500;
}

.seoul-exhibition-info {
  display: inline-block;
  margin: 0 0 0 20px;
}

.seoul-exhibition-info >li  {
  margin-right: 65px;
  font-size: 12px;
  padding: 1px;
  display: inline-block;
  color: red;
}

.seoul-exhibition-info >li:nth-child(2) {
  margin-right: 0;
}

.seoul-exhibition-info2 {
  display: inline-block;
  margin: 0 0 0 20px;
}

.seoul-exhibition-info2 >li  {
  margin-right: 65px;
  font-size: 12px;
  padding: 1px;
  display: inline-block;
  color: #737373;
}

.seoul-exhibition-info2 > li:nth-child(2) {
  margin-right: 0;
}

.seoul-exhibition3 {
  margin: 5px 0 5px 20px;
  font-size: 11px;
  letter-spacing: 0.02em;
  color: #737373;
  line-height: 180%;
}


.seoul-border {
  margin: 20px 0px;
  float: left;
  width: 230px;
  height: 285px;
  border: 2px solid #f0f0f0;
}

.seoul-border1 {
  height: 220px;
  font-size: 36px;
  line-height: 100%;
  font-weight: 500;
  margin: 25px 0 0 15px;
  color: #191919;
  vertical-align: bottom;
  letter-spacing: -3px;
}

.seoul-border2 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 15px;
  color: #00A88E;
  cursor: pointer;
  letter-spacing: -1px;
}

.seoul-border2:hover {
  color: #191919;
}

.seoul-border-contents {
  display: inline-block;
}

.seoul-border-contents >li {
  position: relative;
  margin: 0px 0px 20px 24px;
  display: inline-block;
  border: 2px solid #f0f0f0;
  width: 341px;
  height: 285px;
  vertical-align: top;

  .seoul-menu-img {
    position: relative;
    height: 55%;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
  }

  .seoul-menu-title {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: -1px;
    cursor: pointer;
    color: #737373;
    display: inline-block;
  }

  .seoul-menu-sub {
    line-height: 160%;
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: -2px;
    cursor: pointer;
    color: #737373;
  }

  .seoul-menu-date {
    margin-top: 1px;
    margin-left: 20px;
    font-size: 12px;
    background-color: #eee;
    margin-right: 2px;
    padding: 1px 0;
    color: #737373;
  }

}


