@import "common.less";

.about-menu {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 875px;
  margin-top: 10px;
  background-color: #00A88E;
}

.about-info {
  display: inline-block;
  position: relative;
  width: 700px;
  height: 875px;
  margin-left: 40px;
  background-color: #c0c0c0;
}