{{#each this~}}
    <li>{{aboutMenu~}}
        {{~#if aboutMenuSub~}}
            <ul class="about-menu-sub">
                {{~#each aboutMenuSub~}}
                    <li>{{aboutMenuSub~}}
                        {{~#if aboutMenuSubSub~}}
                            <ul class="about-menu-sub-sub">
                                {{~#each aboutMenuSubSub~}}
                                    <li>{{aboutMenuSubSub}}</li>
                                {{~/each~}}
                            </ul>
                        {{~/if~}}
                    </li>
                {{~/each~}}
            </ul>
        {{~/if~}}
    </li>
{{~/each}}