주소	:	(110-817) 서울시 종로구 부암동 201번지<br>
TEL	:	02-395-0100<br>
FAX	:	02-395-0170<br>
<div class="com-text1">대중교통</div><br>
- 경복궁역 하차 (지하철 3호선 3번 출구) → 지선 버스 승차(1020, 1711, 7016, 7018, 7022, 7212) → 자하문터널입구 하차<br>
-광화문역 하차 (지하철 5호선 2, 3번 출구) → 지선 버스 승차 (1020, 1711, 7016, 7018) → 자하문터널입구 하차<br>
<div class="com-text2">자가용 이용</div><br>
- 경복궁역에서 세검정 삼거리(상명대학교) 방향, 자하문 터널 입구 좌측<br>
<span class="com-span">※주차장이 협소한 관계로 가급적이면 대중교통을 이용해주십시오.</span>

<div class="com-map">

</div>
<a class="com-big-map" href="https://www.google.co.kr/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%A2%85%EB%A1%9C%EA%B5%AC+%EB%B6%80%EC%95%94%EB%8F%99+201/@37.594971,126.962546,14z/data=!4m5!3m4!1s0x357ca2ae7928b537:0x25caabb4b70f2ebc!8m2!3d37.5949731!4d126.9625399?hl=ko" target="_blank">
    크게보기
</a>