<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/admin/">
    <title>Seoul Admin</title>
</head>
<body>
<div class="admin-contents">
    <div class="seoul-temp-title">관리자홈</div>
</div>
{{> ../template/footer}}
</body>
</html>