<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<div class="center">
    <ul class="seoul-first">
        <li style="background-image: url(./img/face.png)">
        </li>
    </ul>
</div>

<div class="center">
    <div class="seoul-notice">
        NOTICE
    </div>
    <ul class="seoul-notice-contents">
        <li>1</li>
    </ul>
    <ul class="seoul-notice-contents">
        <li>2</li>
    </ul>
</div>

<div class="center">
    <ul class="seoul-exhibition-contents">
        <li>1</li>
    </ul>
    <ul class="seoul-exhibition-contents">
        <li>2</li>
    </ul>
    <div class="seoul-exhibition">
        EXHIBITION
    </div>
</div>

<div class="center">
    <div class="seoul-border">
        BORDER
    </div>
    <ul class="seoul-border-contents">
        <li>1</li>
    </ul>
    <ul class="seoul-border-contents">
        <li>2</li>
    </ul>
</div>
{{> template/footer}}
</body>
</html>