<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<div class="center">
    <ul class="seoul-first">
        <li style="background-image: url(./img/face.png)">
        </li>
    </ul>
</div>

<div class="center">
    <div class="seoul-notice">
        <div class="seoul-notice1">
            NOTICE
        </div>
        <div class="seoul-notice2">
            VIEW NOTICE →
        </div>
    </div>
    <ul class="seoul-notice-contents">
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/notice1.jpg)">
            </div>
            <div class="seoul-menu-title">
                NOTICE
            </div>
            <div class="seoul-menu-sub">
                [프로그램] 전시해설 프로그램 안내
            </div>
        </li>
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/notice2.jpg)">
            </div>
            <div class="seoul-menu-title">
                NOTICE
            </div>
            <div class="seoul-menu-sub">
                [전시연장] 《사임당, 그녀의 화원》展 9월 3일(일)까지 연장
            </div>
        </li>
    </ul>
</div>

<div class="center">
    <ul class="seoul-exhibition-contents">
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/exhibition1.jpg)">
            </div>
            <div class="seoul-menu-title">
                EXHIBTION
            </div>
            <div class="seoul-menu-sub">
                카페소사이어티_끝나지않은 여름이야기
            </div>
            <div class="seoul-menu-date">
                2017-06-20 ~ 2017-09-10
            </div>
        </li>
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/exhibition2.jpg)">
            </div>
            <div class="seoul-menu-title">
                EXHIBTION
            </div>
            <div class="seoul-menu-sub">
                오치균은 묻지않고 다만 그린다
            </div>
            <div class="seoul-menu-date">
                2017-03-18 ~ 2017-09-03
            </div>
        </li>
    </ul>
    <div class="seoul-exhibition">
        <div class="seoul-exhibition1">
        EXHIBITION
        </div>
        <img src="./img/icon_clock.gif" class="seoul-exhibition-clock">
        <div class="seoul-exhibition2">
            PUBLIC HOURS
        </div>
        <ul class="seoul-exhibition-info">
            <li>휴관일</li>
            <li>매주 월요일</li>
        </ul>
        <ul class="seoul-exhibition-info2">
            <li>미술관</li>
            <li>11:00-19:00</li>
        </ul>
        <ul class="seoul-exhibition-info2">
            <li>석파정</li>
            <li>11:00-19:00</li>
        </ul>
        <div class="seoul-exhibition3">
            (입장마감은 폐장 1시간 전까지)
        </div>
    </div>
</div>

<div class="center">
    <div class="seoul-border">
        <div class="seoul-border1">
            BOARD
        </div>
        <div class="seoul-border2">
            VIEW BOARD →
        </div>
    </div>
    <ul class="seoul-border-contents">
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/board1.png)">
            </div>
            <div class="seoul-menu-title">
                BOARD
            </div>
            <div class="seoul-menu-sub">
                (독서신문) 네스카페 크레마, 서울미술관과 콜라보레이션 전시회
            </div>
            <div class="seoul-menu-date">
                2017-07-01
            </div>
        </li>
        <li>
            <div class="seoul-menu-img"
                 style="background-image: url(./img/board2.png)">
            </div>
            <div class="seoul-menu-title">
                BOARD
            </div>
            <div class="seoul-menu-sub">
                (아시아경제) 카페에서 예술이 말하느 청춘을 느끼다. '카페소사이어티전'
            </div>
            <div class="seoul-menu-date">
                2017-07-01
            </div>
        </li>
    </ul>
</div>
{{> template/footer}}
</body>
</html>