<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<div class="center">
    <ul class="seoul-first" style="background-image: url(./img/face1.PNG)">

        <li class="btn-left">
            ←
        </li>
        <li class="btn-right">
            →
        </li>
    </ul>
</div>

<div class="center">
    <div class="photo" >

    </div>
</div>

<div class="center">
    <div class="seoul-notice">

    </div>
    <ul class="seoul-notice-contents">

    </ul>
</div>

<div class="center">
    <ul class="seoul-exhibition-contents">

    </ul>
    <div class="seoul-exhibition">

    </div>
</div>

<div class="center">
    <div class="seoul-border">

    </div>
    <ul class="seoul-border-contents">

    </ul>
</div>
{{> template/footer}}
</body>
</html>