<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header photos= "true"}}


<div class="center">
    <div class="photo" >

    </div>
</div>

<div class="center">
    <div class="seoul-notice">

    </div>
    <ul class="seoul-notice-contents">

    </ul>
</div>

<div class="center">
    <ul class="seoul-exhibition-contents">

    </ul>
    <div class="seoul-exhibition">
    <div class="seoul-exhibition1">
        EXHIBITION
    </div>
        <img src="./img/icon_clock.gif" class="seoul-exhibition-clock">
        <div class="seoul-exhibition2">
            PUBLIC HOURS
        </div>
        <ul class="seoul-exhibition-info">
            <li>
                휴관일
            </li>
            <li>
                매주 월요일
            </li>
        </ul>
        <ul class="seoul-exhibition-info2">
            <li>
                미술관
            </li>
            <li>
                11:00-19:00
            </li>

        </ul>
        <ul class="seoul-exhibition-info2">
            <li>
                석파정
            </li>
            <li>
                11:00-19:00
            </li>
        </ul>
        <div class="seoul-exhibition3">
            (입장마감은 폐장 1시간 전까지)
        </div>
    </div>
</div>

<div class="center">
    <div class="seoul-border">

    </div>
    <ul class="seoul-border-contents">

    </ul>
</div>
{{> template/footer}}
</body>
</html>