<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
    <section class="seoul-section-info">
        <div class="center">
            <ul class="about-menu">

            </ul>
            <div class="about-info">
                <div class="about-info1"></div>
                <div class="about-info2">
                </div>
            </div>
        </div>
    </section>
{{> template/footer }}
</body>
</html>