<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header photos= "true"}}
<div class="center">
    <section class="seoul-section-info">
        <div class="exhibition-main">
            <div class="exhibition-title">
                <div class="exhibition-title-title">
                    <span>진행중</span> 카페소사이어티_끝나지않은 여름이야기
                </div>
                <div class="exhibition-title-term">
                    2017-06-20 ~ 2017-09-10 | 서울미술관
                </div>
            </div>
            <div class="exhibition-contents">
                <div class="exhibition-contents-contents">
                    <img src="img/exhibition/exhibition1.jpg">
                    <div class="exhibition-text1">
                        진짜 청춘의 이야기<br><br>
                        달콤하고 즐거워 보이지만 씁쓸한<br>
                        차갑고 이기적으로 보이지만 애잔한<br><br>
                        <span class="exhibition-text1-span1">'예술은 사회를 반영한다’</span><br>
                        젊은 작가들의 시선으로 그려진<br><br>
                        <span class="exhibition-text1-span2">"청춘"</span><br><br>
                        그들은 어떤 생각, 어떤 이야기를 꿈꾸고 있을까?<br><br>
                        이 시대의 젊은 작가들이 이야기하는<br>
                        진짜 청춘의 이야기<br><br><br>
                        <span class="exhibition-text1-span3">카페소사이어티</span><br>
                        <span class="exhibition-text1-span4">SUMMER EDITION</span><br><br>
                        <span class="exhibition-text1-span5">"끝나지 않은 여름이야기"</span><br><br><br>
                        <span class="exhibition-text1-span6">intro</span><br>
                    </div>
                    <img src="img/exhibition/exhibition2.jpg">
                    <img src="img/exhibition/exhibition3.jpg">
                    <div class="exhibition-text2">
                        카페(café)는 프랑스어 ‘커피'를 뜻하는 말로 후에 ‘커피를 즐기며 모임을 가지는 곳’으로 의미가 변형된 것이다.<br><br>
                        17세기 초 이탈리아 베네치아에 최초의 카페가 생긴 이후,<br>
                        유럽 전역에 만남과 사교의 장으로 3,000여 개가 넘는 카페가 설립 되어지기 시작했는데<br>
                        이 공간은 일반인들 뿐만 아니라 시인, 화가, 소설가등 예술가들이<br>
                        자주찾는 곳 이기도 했다.<br>
                        이는 프랑스에 있던 한정된 상류층의 살롱 문화가 현대적으로 계승되어<br>
                        대중문화 공간으로 재탄생된 의미있는 일 이기도 하다.<br><br>
                        카페에서는 전시, 문학 발표회 등 각종 문화 관련 행사가 자주 열렸다.<br>
                        특히 한정된 공간에서만 자신의 그림을 보여 줄 수 있었던 화가들에게는<br>
                        자신의 작품을 보다 가깝게 선보일 수 있는 장소 이기도 했으며,<br>
                        이곳에 모인 예술가들은 서로의 작품을 보며 예술적 영감을 주고 받곤 했다.<br><br><br>
                        대중과 함께 호흡하는 미술관을 지향하는 서울미술관은 2017년 첫 기획전으로 <span class="exhibition-text2-span1">‘카페 소사이어티’</span> 를 선보인다.<br>
                        대중과 가장 가깝게 소통하고 예술을 접하는 공간인 ‘카페’를 미술관 안으로 끌어들여<br>
                        현대적 문화 향유 공간으로서의 ‘카페’를 생각해 보고,<br>
                        시대와 환경에 따라 어떠한 모습으로 우리 곁에 <span class="exhibition-text2-span2">‘예술 공간으로서의 카페’</span>가 함께 했는지를 살펴본다.<br><br>
                        다양한 공간으로 구성된 전시장에서 관람객들은 주제와 환경에 부합하는 예술 작품들을 만나게 될 것이며,<br>
                        이를 통해 일상에서 쉽게 만날 수 있는 <span class="exhibition-text2-span3">‘예술 경험’</span>을 새삼 확인할 수 있을 것이다.<br><br><br><br>
                        〈전시구성〉<br><br>
                            #낭만다방 Romance Cafe 1950's<br>
                            #스윗 블라썸 Sweet Blossom<br>
                            #콜드 브루 Cold Brew<br>
                            #다크 로스팅 Dark Roasting<br>
                            #음악감상실 Music Room<br>
                            #카페 소사이어티 Cafe Society<br>
                            #THE DECK<br><br><br><br>
                        <span class="exhibition-text2-span4">#낭만다방 Romance Cafe 1950's</span>  낭만과 여유가 넘쳤던 1950년대의 다방 속 여행<br>
                        <span class="exhibition-text2-span5">낭만과 여유가 넘쳤던 1950년대의 다방 속에서 서울미술관 소장품의 한국 근대 걸작을 만나볼 수 있다.</span><br>
                    </div>
                    <img src="img/exhibition/exhibition4.jpg">
                    <img src="img/exhibition/exhibition5.jpg">
                    <img src="img/exhibition/exhibition6.jpg">
                    <div class="exhibition-text3">
                        <span class="exhibition-text3-span1">#스윗 블라썸 Sweet Blossom</span>  달콤하지만 날카롭고, 부드럽지만 마음을 울리는 행복한 여유<br>
                        <span class="exhibition-text3-span2">행복하고 달콤하게만 보이는 청춘의 시간 속에 어떤 고민과 꿈이 깃들어 있는지를 이 시대 젊은 작가들의 시선으로 펼쳐내 보여준다.</span>
                    </div>
                    <img src="img/exhibition/exhibition7.jpg">
                    <img src="img/exhibition/exhibition8.jpg">
                    <img src="img/exhibition/exhibition9.jpg">
                    <div class="exhibition-text4">
                        <span class="exhibition-text4-span1">#콜드 브루 Cold Brew</span>  <span class="exhibition-text4-span2">시원하고 짜릿하지만 뒷맛은 깊은 순간</span><br>
                        차갑고 개인주의적으로 보이는 이 시대 젊은이들의 이면에 어떤 이야기가 있는지를 주목한다.<br>
                        작가들의 시선으로 전달되는 그들의 진짜 이야기에 귀기울여 보자.<br>
                    </div>
                    <img src="img/exhibition/exhibition10.jpg">
                    <img src="img/exhibition/exhibition11.jpg">
                    <div class="exhibition-text5">
                        <span class="exhibition-text5-span1">#다크 로스팅 Dark Roasting</span> <span class="exhibition-text5-span2">다양한 감정의 이야기를 깊고 진하게 로스팅</span><br>
                        지치고 힘든 젊은이들의 감정을 직접적으로 만나본다.<br>
                        힘들고 어려운 순간마다 그들이 어떠한 방식으로 극복하고 살아가고 있는지를 작가들의 작품과 함께 공감해보자.<br>
                    </div>
                    <img src="img/exhibition/exhibition12.jpg">
                    <img src="img/exhibition/exhibition13.jpg">
                    <img src="img/exhibition/exhibition14.jpg">
                    <div class="exhibition-text6">
                        <span class="exhibition-text6-span1">#음악감상실 Music Room</span> 장르를 넘나드는 풍성한 음악세계
                    </div>
                    <img src="img/exhibition/exhibition15.jpg">
                    <img src="img/exhibition/exhibition16.jpg">
                    <div class="exhibition-text7">
                        <span class="exhibition-text7-span1">#카페 소사이어티 Cafe Society</span>  우리와 함께 숨쉬고 있는 카페 이야기, 카페소사이어티<br>
                        <span class="exhibition-text7-span2">누군가와 차를 마시며 감정을 나누는 소통의 공간이자 예술가들을 포용하는 둥지로 기능하고 있는<br>
                            서울시 내 대표 갤러리형 카페를 소개하는 공간입니다.</span><br>
                    </div>
                    <img src="img/exhibition/exhibition17.jpg">
                    <div class="exhibition-text8">
                        <span class="exhibition-text8-span1">#THE DECK</span><br>
                        카페소사이어티 속 휴식공간 THE DECK, 일상에서 벗어나 편안하고 안락하게 쉴 수 있는 공간입니다.
                    </div>
                    <img src="img/exhibition/exhibition18.jpg">
                    <img src="img/exhibition/exhibition19.jpg">
                    <div class="exhibition-text9">
                        ○ 전시기간  :   Spring Edition        2017년 3월 28일(화) ∼ 2017년 6월 18일(일)<br>
                        <span class="exhibition-text9-span1">Summer Edition    2017년6월 20일(화) ∼ 2017년  9월 10일(일)  (예정)<br></span>
                        ○ 전시장소  :  서울미술관 제 1전시실<br>
                        ○ 참여 작가  :  강소선, 기슬기, 김건주, 김인승, 김종태, 김중현, 남현범, 도상봉, 박상희, 박생광, 박진희, 변시지, 변웅필, 서커스보이밴드, 솔채, 스노우캣, 신동진<br>
                        <span class="exhibition-text9-span2">(GRAFFLEX),</span><br>
                        <span class="exhibition-text9-span3">요이한, 유영국, 이공, 이수연, 이윤정, 이이립, 이태강, 임직순, 장욱진, 지희킴, 최영림, 타그트라움, 현수, 홍성준,  Alessandra Genualdo, Daniel</span><br>
                        <span class="exhibition-text9-span4">de los Muros, Simon Ward (총 34명)</span><br><br><br>
                        <span class="exhibition-text9-span5">※ 본 전시는 <span class="exhibition-text9-span6">《오치균은 묻지않고 다만 그린다》展,</span>  <span class="exhibition-text9-span7">《사임당, 그녀의 화원》展</span> 과 함께 관람 가능합니다.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="exhibition-mini">
            <div class="exhibition-mini-title">NOW</div>
            <div class="exhibition-mini-contents"></div>
        </div>
    </section>
</div>
{{> template/footer }}
</body>
</html>