<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="center">
    <section class="seoul-section-info">
        <div class="exhibition-main">
            fdsafsad
        </div>
    </section>
</div>
{{> template/footer }}
</body>
</html>