<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
    <section class="seoul-section-info">
        <div class="center">
            <ul class="about-menu">
                <li>인사말</li>
                <li>
                    미술관소개
                    <ul class="about-menu-sub">
                        <li>미술관소개</li>
                        <li>MI소개</li>
                    </ul>
                </li>
                <li>
                    시설안내
                    <ul class="about-menu-sub">
                        <li>
                            주요시설
                            <ul class="about-menu-sub-sub">
                                <li>미술관 전경</li>
                                <li>층별 안내</li>
                            </ul>
                        </li>
                        <li>
                            부대시설
                            <ul class="about-menu-sub-sub">
                                <li>흥선대원군 별서</li>
                                <li>MATRIX HALL</li>
                                <li>TEXTUS HALL</li>
                                <li>MUSEUM SHOP</li>
                                <li>MUSEUM CAFE</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="about-info">
                <div class="greetings">인사말</div>
                <div class="greetings1">
                    <img class="greetings-img1" src="img/greetings/greetings1.png">
                    <!--clear right  both<= left right 둘다 -->
                    석파문화원이 운영하는 서울미술관은 문화예술의 감동과 아름다움을 대중과
                    함께 나누고자 우리 문화와 역사의 요람인 서울 종로구 부암동에 문을 열었습니다.
                    '모든 것은 예술이다'라는 이념 아래 우리의 삶 속에 녹아있는 다양한 가치들을 다각적으로
                    조망하고, 한국 미술과 세계 미술의 다양한 조류를 선보이며 동시대의<br>
                    <img class="greetings-img2" src="img/greetings/greetings2.png">
                    문화와 예술을 선도하는 역동적인 공간을 지향합니다. 전시 뿐 아니라 연구,
                    교육 등 다양한 활동들을 전개하여 한국의 문화예술 발전에 이바지하고자
                    합니다.<br><br>
                    현대미술의 선구자 마르셀 뒤샹은, 감상자는 보편적인 기준을 찾아 작품을
                    이해하려 하지 말고, 자기 고유의 시선으로 작품을 바라보고 완성해야 한다고
                    말했습니다. 뒤샹이 보기에는 감상자도 똑같은 창조자였습니다. 개념미술가
                    펠릭스 곤살레스 토레스는 예술가의 전권을 부정하고, 진정으로 영원한 예술은
                    관객의 참여에 의해 지속적으로 변하는 예술이라고 했습니다.
                    <img class="greetings-img3" src="img/greetings/greetings3.png">
                    서울미술관은 이들의 생각처럼 감상자도 창조자라고 여깁니다. 그래서 특정
                    사조나 양식, 장르, 시대에 매몰되지 않고 다양한 흐름을 소개하는 한편, 감상자가
                    이를 자유롭고 주체적인 의지에 따라 즐겁고 행복하게 감상하도록 뒷받침하고 또
                    뒷받침할 것입니다.<br><br>
                    서울미술관에서 진정으로 주체적이고 행복한 미술 감상의 시간을
                    가지시기 바랍니다. 감사합니다.<br><br>
                    <div class="greetings1-art">서울미술관 이사장 서유진</div>
                </div>
            </div>
        </div>
    </section>
{{> template/footer }}
</body>
</html>