<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
    <section class="seoul-section-info">
        <div class="center">
            <ul class="about-menu">

            </ul>
            <div class="about-info">
                <div class="about-info1">흥선대원군 별서</div>
                <div class="about-info2">
                    <div class="facilities2-tab">
                        <ul class="facilities2-tab-btns">
                            <li class="active">흥선대원군 별서</li>
                            <li>관람코스</li>
                        </ul>
                        <ul class="facilities2-tab-contents">
                            <li class="active">
                                <img class="facilities2-img1" src="img/facilities/facilities2-1.jpg">
                                <span class="facilities2-text">석파문화원</span>은 한국 전통문화의 우수성과 아름다움을 세계에 알리고 동시대 문화예술의 균형적인 발전을 도모하기 위해 설립되었습니다.<br>
                                1997년 흥선대원군 별서 인수를 필두로 지속적인 연구ㆍ보존 사업을 통해 우리의 전통문화를 계승, 발전시키는 한편, 2012년 서울미술관을 개관하며 한국과 세계의 문화예술에 대한 폭넓은 지원 사업을 전개하여 우리의 삶 속에 전통과 현대가 조화롭게 공존하는 풍요로운 문화예술 환경을 조성하고자 합니다.<br><br>
                                <img class="facilities2-img2" src="img/facilities/facilities2-2.jpg">
                                <span class="facilities2-text">흥선대원군 별서(興宣大院君別墅)</span>는 조선 말기 문신 김흥근(金興根)의 주도로 조영(造營)된 근대 유적으로서 인왕산 북동쪽의 바위산 기슭에 자리 잡고 있습니다. 후일 흥선대원군(興宣大院君) 이하응(李昰應)의 별서(別墅)로 사용되어 흥선대원군 별서라 불리게 되었습니다.<br>
                                흥선대원군 별서 초입 암반에 새겨진 ‘물을 품고 구름이 발을 치는 집(巢水雲簾菴, 소수운렴암)’이라는 권상하(權尙夏)의 글처럼 빼어난 산수와 계곡을 배경으로 아름다운 경관과 수려한 건축을 자랑합니다. 옛 한성의 경승지 중 하나로 알려져 있습니다. 본래 7채의 건물로 구성되어 있던 석파정은 오늘날 안채, 사랑채, 별채와 같은 살림채와 중국풍의 정자 등 4개 동이 남아 옛 조상들의 풍류 문화와 예술적 정취에 대한 이상을 우리에게 전해줍니다.<br>
                                흥선대원군 별서는 1974년 서울특별시 유형문화재 제26호로 지정되었습니다. 사랑채 서쪽 뜰에 위치한 노송은 서울특별시 지정보호수 제60호로서 유구한 세월 동안 우리 역사와 함께해 온 나무입니다. 역경 속에서도 꿋꿋한 절개와 의지를 잃지 않았던 조선시대 학자와 선비들의 기품을 느끼게 합니다.<br><br>
                                <ul class="facilities2-img3">
                                    <li>
                                        <img src="img/facilities/facilities2-3.jpg">
                                    </li>
                                    <li>
                                        <img src="img/facilities/facilities2-4.jpg">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="facilities2-tab-tab">
                                    <ul class="facilities2-tab-tab-btns">
                                        <li class="facilities2-tab-tab-btn active">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab01_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab01_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab02_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab02_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab03_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab03_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab04_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab04_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab05_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab05_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab06_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab06_on.gif">
                                        </li>
                                    </ul>
                                    <ul class="facilities2-tab-tab-contents">
                                        <li class="active">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> template/footer }}
</body>
</html>