<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="center">
    <section class="seoul-section-info">
        <div class="exhibition-main">
            <div class="exhibition-title">
                <div class="exhibition-title-title">
                    <span>진행중</span> 카페소사이어티_끝나지않은 여름이야기
                </div>
                <div class="exhibition-title-term">
                    2017-06-20 ~ 2017-09-10 | 서울미술관
                </div>
            </div>
            <div class="exhibition-contents">
                <div class="exhibition-contents-contents">
                    <img src="img/exhibition/exhibition1.jpg">
                    <div>dsa</div>
                </div>
            </div>
        </div>
        <div class="exhibition-mini">
            dsa
        </div>
    </section>
</div>
{{> template/footer }}
</body>
</html>