<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
    <section class="seoul-section-info">
        <div class="center">
            <ul class="about-menu">

            </ul>
            <div class="about-info">
                <div class="about-info1"></div>
                <div class="about-info2">
                    <div class="facilities2-tab">
                        <ul class="facilities2-tab-btns">
                            <li class="active">흥선대원군 별서</li>
                            <li>관람코스</li>
                        </ul>
                        <ul class="facilities2-tab-contents">
                            <li class="active">
                                <img class="facilities2-img1" src="img/facilities/facilities2-1.jpg">
                                <span class="facilities2-text">석파문화원</span>은 한국 전통문화의 우수성과 아름다움을 세계에 알리고 동시대 문화예술의 균형적인 발전을 도모하기 위해 설립되었습니다.<br>
                                1997년 흥선대원군 별서 인수를 필두로 지속적인 연구ㆍ보존 사업을 통해 우리의 전통문화를 계승, 발전시키는 한편, 2012년 서울미술관을 개관하며 한국과 세계의 문화예술에 대한 폭넓은 지원 사업을 전개하여 우리의 삶 속에 전통과 현대가 조화롭게 공존하는 풍요로운 문화예술 환경을 조성하고자 합니다.<br><br>
                                <img class="facilities2-img2" src="img/facilities/facilities2-2.jpg">
                                <span class="facilities2-text">흥선대원군 별서(興宣大院君別墅)</span>는 조선 말기 문신 김흥근(金興根)의 주도로 조영(造營)된 근대 유적으로서 인왕산 북동쪽의 바위산 기슭에 자리 잡고 있습니다. 후일 흥선대원군(興宣大院君) 이하응(李昰應)의 별서(別墅)로 사용되어 흥선대원군 별서라 불리게 되었습니다.<br>
                                흥선대원군 별서 초입 암반에 새겨진 ‘물을 품고 구름이 발을 치는 집(巢水雲簾菴, 소수운렴암)’이라는 권상하(權尙夏)의 글처럼 빼어난 산수와 계곡을 배경으로 아름다운 경관과 수려한 건축을 자랑합니다. 옛 한성의 경승지 중 하나로 알려져 있습니다. 본래 7채의 건물로 구성되어 있던 석파정은 오늘날 안채, 사랑채, 별채와 같은 살림채와 중국풍의 정자 등 4개 동이 남아 옛 조상들의 풍류 문화와 예술적 정취에 대한 이상을 우리에게 전해줍니다.<br>
                                흥선대원군 별서는 1974년 서울특별시 유형문화재 제26호로 지정되었습니다. 사랑채 서쪽 뜰에 위치한 노송은 서울특별시 지정보호수 제60호로서 유구한 세월 동안 우리 역사와 함께해 온 나무입니다. 역경 속에서도 꿋꿋한 절개와 의지를 잃지 않았던 조선시대 학자와 선비들의 기품을 느끼게 합니다.<br><br>
                                <ul class="facilities2-img3">
                                    <li>
                                        <img src="img/facilities/facilities2-3.jpg">
                                    </li>
                                    <li>
                                        <img src="img/facilities/facilities2-4.jpg">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="facilities2-tab-tab">
                                    <ul class="facilities2-tab-tab-btns">
                                        <li class="facilities2-tab-tab-btn active">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab01_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab01_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab02_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab02_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab03_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab03_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab04_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab04_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab05_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab05_on.gif">
                                        </li>
                                        <li class="facilities2-tab-tab-btn">
                                            <img class="facilities2-tab-tab-on" src="img/facilities2-tab/sub0103_tab06_off.gif">
                                            <img class="facilities2-tab-tab-off" src="img/facilities2-tab/sub0103_tab06_on.gif">
                                        </li>
                                    </ul>
                                    <ul class="facilities2-tab-tab-contents">
                                        <li class="active">
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_1.jpg">
                                            <img class="facilities2-tab-tab-img2" src="img/facilities2-tab/facilities2-tab-tab-1.jpg">
                                            인왕산 북동쪽의 바위산 기슭에 자리 잡고 있는 흥선대원군 별서(興宣大院君 別墅)는 본래 조선 철종과 고종 때의 중신(重臣) 김흥근(金興根, 1796∼1870)이 조영해 별장으로 사용한 근대 유적이다. 김흥근이 언제 이곳(당시 삼계동정사로 통칭)을 조영하였는지에 관한 정확한 연대는 알 수 없지만, 일부 문헌을 통해 그 시기를 대략 1837～58년 사이로 추정해 볼 수 있다. 후일 고종이 즉위하고 흥선대원군(興宣大院君) 이하응(李昰應, 1820∼1898)의 섭정이 시작된 1863년을 전후하여 대원군이 이를 인수, 별서로 사용하게 된다. 조선 후기 학자 황현(黃玹)이 쓴 『매천야록(梅泉野錄)』에는 흥선대원군이 김흥근에게 별서의 매매를 종용하였으나 거절하자 계략을 세워 아들 고종을 이곳에 행차해 묵게 하였고, 임금이 묵고 가신 곳에 신하가 살수 없다하여 김흥근이 이곳을 포기하자 이에 운현궁 소유가 되었다는 이야기가 전해온다. 별서 인수 후 대원군은 사랑채에서 난을 치는 등 이곳을 예술적 활동을 했던 장소로 사용하였을 뿐만 아니라, 고종의 행전이나 행궁, 즉 임시거처로도 사용하였을 것으로 보인다.<br><br>
                                            본래 7채의 건물로 구성되어 있던 흥선대원군 별서는 오늘날 안채, 사랑채, 별채와 같은 살림채와 석파정(石坡亭) 등 4개 동이 남아 있다. 높은 자리에 위치한 별채의 구성과 별채로 진입하는 협문, 과거에 있었던 꽃담 등은 왕이 묵던 곳으로서 손색없게 하려는 의도로 읽힌다. 별서들 중 흥선대원군 별서와 같이 안채 이외에 별채를 가지고 있는 경우는 흔하지 않다. 더불어 현재 남아있는 석파정과 종로구 홍지동으로 이전되어 남아 있는 중국식 별당(석파랑) 역시 흥선대원군 별서의 독특한 특질을 잘 드러내는데, 김흥근이 청나라에 사신으로 다녀오면서 보았던 모습을 이곳에 재현한 듯하다. 흥선대원군 별서는 수려한 건축뿐 아니라 빼어난 산수와 계곡으로 이뤄진 아름다운 경관을 자랑한다. 특히 사랑채 서쪽 뜰에 위치한 노송은 서울특별시 지정보호수 제60호로서 유구한 세월동안 이곳과 운명을 함께해 왔다.<br><br>
                                            흥선대원군 사후에도 대략 50년간 그의 후손들에 의해 관리되어 오다가 한국 전쟁이 시작된 후 콜롬바 어린이집 등으로 사용되었으며, 이후 민간에 이양되어 관리되어왔다. 1974년 석파정이 서울특별시 유형문화재 제26호로 지정되었고, 현재는 (주)석파문화원에서 소유, 관리하고 있다.
                                        </li>
                                        <li>
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_2.jpg">
                                            <img class="facilities2-tab-tab-img2" src="img/facilities2-tab/facilities2-tab-tab-2.jpg">
                                            김흥근이 당시 삼계동정사(三溪洞精舍)라 불리웠던 별서를 조영하기 이전에 이 자리에 무엇이 있었는지는 잘 알려져 있지 않다. 다만 별서 초입 사랑채 맞은편에 커다란 암반이 있고, 거기에 “巢水雲廉菴 寒水翁書贈 友人定而時 辛丑歲也(소수운렴암 한수옹서증 우인정이시 신축세야)”라는 글귀가 새겨져 있어 김흥근의 별서 조영시기 이전의 모습에 대해 추정하게 한다. ‘물을 품고 구름이 발을 치는 집으로, 한수옹(寒水翁)(권상하權尙夏, 1641∼1721)이 벗 정이(定而)(조정만趙正萬, 1656∼1739)에게 신축(辛丑)(1721, 경종1년)에 글을 써주다’ 라는 뜻의 이 글귀는 매우 운치 있는 시적표현으로 자연을 대하고 노래하는 조선시대 선비의 심성을 느끼게 해준다. 조선 숙종 때 문신인 오재(寤齎) 조정만의 별서 조성에 관한 기록은 따로 전해지지 않으므로 더 이상 고증된 자료는 없지만, 이 암각을 통해 현재의 위치에 18세기 초 또는 그 이전부터 별서가 조성되어 경영되고 있었음을 추정해 볼 수 있다.
                                        </li>
                                        <li>
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_3.jpg">
                                            <img class="facilities2-tab-tab-img2" src="img/facilities2-tab/facilities2-tab-tab-3.jpg">
                                            흥선대원군 별서의 사랑채 서측 후면 암반에 새겨져 남아 있는 삼계동(三溪洞)이라는 각자는 김흥근이 별서를 지어 이를 경영할 당시 이곳이 삼계동정사(三溪洞精舍), 삼계정, 삼계동 산정 등으로 불렸을 것을 추정하게 한다. 이는 소치(小癡) 허련(許鍊)이 집필한 『소치실록(小癡實錄)』과 양의영(梁義永)의 『유북한기(遊北漢記)』 등 일부 문헌들에서도 드러나는데, 부근에 세 갈래의 내가 합쳐져 흘러 삼계동이라 불렀다는 기록도 전해진다. 흥선대원군이 이곳을 소유한 후 별서의 앞산이 모두 바위이므로 자신의 호를 석파(石坡)로 바꾸고, 정자의 이름도 석파정으로 바꾸었다고 한다.
                                        </li>
                                        <li>
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_4.jpg">
                                            <img class="facilities2-tab-tab-img2" src="img/facilities2-tab/facilities2-tab-tab-4.jpg">
                                            석파정(石坡亭)은 한국의 전통 건축양식과 중국(당시 청나라)의 건축양식이 적절히 조합되어 있는 정자로, 1974년 서울특별시 유형문화재 제26호로 지정되었다. 김흥근이 청나라 장인을 직접 불러와 조영했다는 설이 있지만 기록이 전해지지 않아 정확한 내용을 알 수는 없다. 정자에 남아있는 청나라풍의 문살 문양과 평석교(平石橋)의 형태 등을 통해 건축 당시 이국 취향의 정자가 주었던 독특한 아름다움을 유추해 볼 수 있다. 또한 바닥을 나무로 마감하는 한국의 전통 정자와는 달리 화강암으로 바닥을 마감한 점은 건축적으로 매우 특이하다 하겠다.
                                        </li>
                                        <li>
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_5.jpg">
                                            <img class="facilities2-tab-tab-img2" src="img/facilities2-tab/facilities2-tab-tab-5.jpg">
                                            너럭바위는 코끼리 형상을 닮아 코끼리 바위라고도 하는데, 바위산으로서 인왕산의 특징을 잘 드러내주는 수려한 ‘자연석조물’이다. 그 비범한 생김새와 영험한 기운으로 인해 소원을 이뤄주는 바위로 알려져, 바위에 얽힌 재미있는 전설들이 구전되어 온다. 아이가 없던 노부부가 이 바위 앞에서 득남을 빌어 소원을 이루었고, 아들의 시험 합격을 기원한 한 어머니의 간절한 기도로 결국 아들이 출세의 길에 들어섰다는 이야기 등이 전해지며 소원바위, 혹은 행운바위로 불리게 되었다고 한다.
                                        </li>
                                        <li>
                                            <img class="facilities2-tab-tab-img1" src="img/facilities2-tab/sub0103_21040905_6.jpg">
                                            이중(二重) 기단 위에 3층의 탑신부(塔身部)를 올리고 그 정상에 머리장식(상륜, 相輪)을 장식한 일반형 3층 석탑으로, 화강암 재질의 높이 4.5m 석탑이다. 4장의 돌로 짠 기단부(基壇部) 중 아래층기단의 각 면마다 모서리기둥(우주, 隅柱)과 가운데기둥(탱주, 撑柱) 2개가 새겨져있고, 윗층 기단 윗면의 탑신받침이 2단으로 구성되어 신라석탑의 특징을 보인다. 탑의 중심부분인 탑신부는 몸돌(탑신석, 塔身石)과 지붕돌(옥개석, 屋蓋石)이 각각 하나의 돌로 구성되어 있으며, 몸돌의 각 모서리에는 층마다 기둥 모양이 조각되었을 뿐 다른 장식은 찾아볼 수 없다. 각 층의 지붕돌은 크기의 줄어든 정도가 적당하고, 밑면에 5단씩의 받침을 두었다. 지붕돌 윗면에 완만한 경사가 흐르다가 양끝에서 부드럽게 살짝 들려 경쾌함을 더한다. 현재 3층 지붕돌 꼭대기에 머리장식을 받치던 네모난 받침돌(노반석, 露盤石)만이 남아 있는 모습이지만, 전체적인 형태로 보아 통일신라시대인 9세기에 건조된 것으로 추정된다. 경주 근처의 개인 소유 경작지에서 수습해 현재의 모습으로 조립하였고, 2012년 6월 경 현 위치로 이전 설치되었다.<br><br>
                                            ※ 정영호(단국대학교 석좌교수·박물관장/한국문화사학회 회장), 「삼층석탑 소견서」, 2007. 참조
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> template/footer }}
</body>
</html>